
.green {
    color: rgb(1, 161, 1);
}

.blue {
    color: rgb(69, 69, 255);
}

.red {
    color: rgb(253, 47, 47);
}

.yellow {
    color: gold;
}

.gray {
    color: rgb(71, 71, 71);
}

a {
    text-decoration: none;
    color: black;
}

.guugle {
    font-size: 55px;
    font-family: sans-serif;
    font-weight: bold;
}

sub {
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    margin-left: -1%;   
}

.botton-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #52525228;
    padding: 10px;

}

#inspiredby {
    margin-left: 1%;
}